<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label>Vorname <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" formControlName="firstname" placeholder="Max" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" formControlName="lastname" placeholder="Muster" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="email" formControlName="email" placeholder="email@gmail.com" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Passwort <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password" formControlName="password" placeholder="Passwort" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Passwort wiederholen <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password" placeholder="Passwort" required></ion-input>
    </ion-item>
  
    <ion-button type="submit" (click)="onRegister(user)" [disabled]="registrationForm.invalid">Registrieren</ion-button>
  </form>  
</ion-content>
